<h1>{{title}}</h1>
<form action="/submit/ola">
  <div class="input">
    <label for="email">E-Mail</label>
    <input type="text" id="email" name="email">
    
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
    
    <label for="confirmpassword">Confirm Password</label>
    <input type="password" id="confirmpassword" name="confirmpassword">
  </div>
  <button type="submit">Sign</button>
</form>